<div *ngIf="playerOfTheDay">
  <h2>Joueur du jour</h2>
  <p>Nom: {{ playerOfTheDay.name }}</p>
  <!-- Ajoutez d'autres propriétés de playerOfTheDay ici -->
</div>

<mat-form-field>
  <input matInput placeholder="Rechercher un joueur..." [(ngModel)]="searchTerm" (input)="filterPlayers()">
</mat-form-field>

<mat-form-field *ngIf="filteredListe.length > 0">
  <mat-select>
    <mat-option *ngFor="let player of filteredListe" [value]="player">
      {{ player.name }}
    </mat-option>
  </mat-select>
</mat-form-field>