<!-- csdle.component.html -->
<div *ngIf="playerOfTheDay">
  <h2>Joueur du jour</h2>
  <p>Nom: {{ playerOfTheDay.name }}</p>
  <!-- Ajoutez d'autres propriétés de playerOfTheDay ici -->
</div>

<mat-form-field>
  <input matInput placeholder="Rechercher un joueur..." [formControl]="searchTerm" [matAutocomplete]="auto">
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectPlayer($event.option.value)">
  <mat-option *ngFor="let player of filteredListe | async" [value]="player.name">
    {{ player.name }}
  </mat-option>
</mat-autocomplete>
